In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:passmeplease@localhost:3306/md_water_services

So first, grab the location_id and true_water_source_score columns from auditor_report.

In [8]:
%%sql 
select
location_id,
true_water_source_score 	
from
auditor_report
limit 3;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
3 rows affected.

[('SoRu34980', 1), ('AkRu08112', 3), ('AkLu02044', 0)]

Now, we join the visits table to the auditor_report table. Make sure to grab subjective_quality_score, record_id and location_id.

In [11]:
%%sql
SELECT
  aui.location_id as audit_location,
  aui.true_water_source_score,
  vis.location_id as visist_location ,
  vis.record_id
FROM
  auditor_report as aui 
  join
 visits as vis
 on 
  aui.location_id = vis.location_id 
  limit 5 ;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('SoRu34980', 1, 'SoRu34980', 5185),
 ('AkRu08112', 3, 'AkRu08112', 59367),
 ('AkLu02044', 0, 'AkLu02044', 37379),
 ('AkHa00421', 3, 'AkHa00421', 51627),
 ('SoRu35221', 0, 'SoRu35221', 28758)]

Now that we have the record_id for each location, our next step is to retrieve the corresponding scores from the water_quality table. We
are particularly interested in the subjective_quality_score. To do this, we'll JOIN the visits table and the water_quality table, using the
record_id as the connecting key.

In [12]:
%%sql


SELECT
  aui.location_id as audit_location,
  aui.true_water_source_score,
  vis.location_id as visist_location ,
  vis.record_id,
  water_quality.subjective_quality_score
FROM
  auditor_report as aui 
  join
 visits as vis
 on 
  aui.location_id = vis.location_id 
  join
  water_quality
  on
  vis.record_id = water_quality.record_id
  limit 5 ;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('SoRu34980', 1, 'SoRu34980', 5185, 1),
 ('AkRu08112', 3, 'AkRu08112', 59367, 3),
 ('AkLu02044', 0, 'AkLu02044', 37379, 0),
 ('AkHa00421', 3, 'AkHa00421', 51627, 3),
 ('SoRu35221', 0, 'SoRu35221', 28758, 0)]

It doesn't matter if your columns are in a different format, because we are about to clean this up a bit. Since it is a duplicate, we can drop one of
the location_id columns. Let's leave record_id and rename the scores to surveyor_score and auditor_score to make it clear which scores
we're looking at in the results set.

In [14]:
%%sql
SELECT
   vis.location_id,
   vis.record_id ,
  aui.true_water_source_score as auditor_score ,
  water_quality.subjective_quality_score as  surveyor_score
FROM
  auditor_report as aui 
  join
 visits as vis
 on 
  aui.location_id = vis.location_id 
  join
  water_quality
  on
  vis.record_id = water_quality.record_id
  limit 5 ;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('SoRu34980', 5185, 1, 1),
 ('AkRu08112', 59367, 3, 3),
 ('AkLu02044', 37379, 0, 0),
 ('AkHa00421', 51627, 3, 3),
 ('SoRu35221', 28758, 0, 0)]

You try and figure this one out. If you run into an error, remember that you can't use aliases in WHERE, so you have to use the same name as in the
SELECT part, like this: auditor_report.true_water_source_score

In [24]:
%%sql 

SELECT
   vis.location_id,
   vis.record_id ,
  aui.true_water_source_score as auditor_score ,
  water_quality.subjective_quality_score as  surveyor_score
FROM
  auditor_report as aui 
  join
 visits as vis
 on 
  aui.location_id = vis.location_id 

  join
  water_quality
  on
  vis.record_id = water_quality.record_id
  where water_quality.subjective_quality_score = aui.true_water_source_score
limit 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('SoRu34980', 5185, 1, 1),
 ('AkRu08112', 59367, 3, 3),
 ('AkLu02044', 37379, 0, 0),
 ('AkHa00421', 51627, 3, 3),
 ('SoRu35221', 28758, 0, 0),
 ('HaAm16170', 31048, 1, 1),
 ('AkRu04812', 1513, 3, 3),
 ('AkRu08304', 1218, 3, 3),
 ('AkRu05107', 8322, 2, 2),
 ('HaDe16541', 13070, 2, 2)]

You got 2505 rows right? Some of the locations were visited multiple times, so these records are duplicated here. To fix it, we set visits.visit_count
= 1 in the WHERE clause. Make sure you reference the alias you used for visits in the join.

In [18]:
 %%sql
SELECT
   vis.location_id,
   vis.record_id ,
  aui.true_water_source_score as auditor_score ,
  water_quality.subjective_quality_score as  surveyor_score
FROM
  auditor_report as aui 
  join
 visits as vis
 on 
  aui.location_id = vis.location_id 

  join
  water_quality
  on
  vis.record_id = water_quality.record_id
  where water_quality.subjective_quality_score = aui.true_water_source_score 
and vis.visit_count = 1;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
1518 rows affected.

[('SoRu34980', 5185, 1, 1),
 ('AkRu08112', 59367, 3, 3),
 ('AkLu02044', 37379, 0, 0),
 ('AkHa00421', 51627, 3, 3),
 ('SoRu35221', 28758, 0, 0),
 ('HaAm16170', 31048, 1, 1),
 ('AkRu04812', 1513, 3, 3),
 ('AkRu08304', 1218, 3, 3),
 ('AkRu05107', 8322, 2, 2),
 ('HaDe16541', 13070, 2, 2),
 ('KiRu30351', 54220, 9, 9),
 ('AmAm09813', 191, 4, 4),
 ('SoRu37005', 51172, 0, 0),
 ('KiRu26067', 21010, 3, 3),
 ('SoRu37100', 40276, 0, 0),
 ('AmDa11611', 38071, 1, 1),
 ('AkRu07801', 25278, 3, 3),
 ('KiZu31015', 47319, 3, 3),
 ('KiIs24026', 2942, 2, 2),
 ('AkRu08480', 47118, 2, 2),
 ('AmBe11043', 53502, 3, 3),
 ('AmRu13718', 31092, 9, 9),
 ('AmRu15209', 42546, 3, 3),
 ('SoRu37428', 25748, 3, 3),
 ('SoRu34787', 30989, 2, 2),
 ('AkRu03204', 36239, 3, 3),
 ('SoMa34137', 4657, 3, 3),
 ('SoRu38874', 17601, 3, 3),
 ('KiMr24320', 9219, 2, 2),
 ('AkRu06460', 42913, 2, 2),
 ('KiRu28673', 57339, 1, 1),
 ('AkHa00193', 25090, 9, 9),
 ('AmAs10732', 53977, 0, 0),
 ('KiRu27585', 2193, 3, 3),
 ('AkRu03541', 23766, 2, 2),
 ('AkRu04448', 55253, 3, 3),
 ('HaRu20155', 56131, 0, 0),
 ('AmAm09990', 3820, 5, 5),
 ('KiZu31024', 53881, 0, 0),
 ('SoIl32392', 2825, 3, 3),
 ('SoRu38699', 13821, 3, 3),
 ('KiAm22079', 50732, 9, 9),
 ('KiRu26316', 27240, 3, 3),
 ('AkKi01456', 57050, 9, 9),
 ('AkRu08152', 43992, 2, 2),
 ('KiRu27444', 18928, 7, 7),
 ('HaRu20693', 55091, 1, 1),
 ('AkRu04981', 8803, 3, 3),
 ('KiRu28580', 14177, 1, 1),
 ('KiRu30008', 25914, 1, 1),
 ('SoMa34631', 55851, 2, 2),
 ('SoKo33227', 31236, 1, 1),
 ('AmRu14465', 23398, 3, 3),
 ('AkHa00008', 57788, 3, 3),
 ('HaRu19826', 55626, 9, 9),
 ('AmDa11947', 23857, 1, 1),
 ('AmPw12680', 45472, 3, 3),
 ('HaDe16514', 42469, 1, 1),
 ('KiMr24591', 44892, 0, 0),
 ('KiIs24014', 36889, 1, 1),
 ('AkRu07523', 22404, 3, 3),
 ('AkRu04753', 55958, 9, 9),
 ('SoRu36774', 35173, 2, 2),
 ('SoRu36239', 43524, 2, 2),
 ('KiRu27776', 23770, 3, 3),
 ('AkRu03164', 42866, 3, 3),
 ('AkRu05809', 8004, 2, 2),
 ('KiRu28632', 32143, 5, 5),
 ('KiRu30389', 17755, 4, 4),
 ('AkKi01375', 40201, 3, 3),
 ('SoRu37530', 55624, 0, 0),
 ('AmBe10959', 23719, 4, 4),
 ('HaRu19828', 25621, 2, 2),
 ('SoIl32999', 32992, 2, 2),
 ('HaRu18571', 56000, 2, 2),
 ('AkRu08666', 56276, 6, 6),
 ('AkRu03306', 29135, 7, 7),
 ('AkRu08936', 132, 3, 3),
 ('HaSe21341', 59324, 3, 3),
 ('SoRu35327', 59821, 1, 1),
 ('AmRu14903', 54574, 9, 9),
 ('AmAb09101', 10635, 6, 6),
 ('KiAm22276', 15269, 0, 0),
 ('HaRu20617', 18740, 1, 1),
 ('HaRu18217', 58386, 1, 1),
 ('KiRu29806', 35488, 9, 9),
 ('KiRu28057', 25822, 1, 1),
 ('AkRu06170', 16253, 3, 3),
 ('AkRu03380', 45718, 3, 3),
 ('KiRu26678', 17842, 2, 2),
 ('AmBe10942', 23182, 9, 9),
 ('KiIs23730', 59182, 3, 3),
 ('KiHa23034', 39514, 3, 3),
 ('KiRu28090', 493, 6, 6),
 ('AmRu13729', 12421, 2, 2),
 ('HaRu18016', 43421, 1, 1),
 ('KiRu27440', 46897, 9, 9),
 ('HaYa21606', 54414, 3, 3),
 ('HaRu17207', 41291, 1, 1),
 ('AmAm09735', 19578, 1, 1),
 ('HaRu20534', 36976, 2, 2),
 ('AmPw12770', 57820, 3, 3),
 ('AkLu02096', 46932, 3, 3),
 ('HaRu20434', 26351, 2, 2),
 ('AkRu02688', 28038, 0, 0),
 ('AmBe11285', 30594, 9, 9),
 ('AmRu13720', 57704, 3, 3),
 ('SoMa33819', 41990, 0, 0),
 ('SoRu38119', 32719, 1, 1),
 ('AmRu12983', 34259, 3, 3),
 ('SoRu35906', 23263, 5, 5),
 ('KiRu27742', 20199, 3, 3),
 ('SoRu35991', 49145, 3, 3),
 ('KiRu28083', 28642, 4, 4),
 ('AmRu15159', 3238, 9, 9),
 ('HaYa21456', 31258, 2, 2),
 ('HaRu18734', 9967, 2, 2),
 ('SoRu35970', 49787, 3, 3),
 ('AmAs10285', 35054, 3, 3),
 ('KiZu31223', 45820, 3, 3),
 ('SoRu38546', 31987, 9, 9),
 ('AmPw12293', 43323, 6, 6),
 ('SoRu39488', 778, 3, 3),
 ('SoRu39408', 9997, 5, 5),
 ('HaRu17750', 55863, 2, 2),
 ('KiRu30604', 38650, 0, 0),
 ('KiZu30905', 38879, 9, 9),
 ('SoRu39374', 12919, 9, 9),
 ('SoRu37406', 36882, 2, 2),
 ('AkRu05212', 41421, 9, 9),
 ('SoIl32294', 58139, 0, 0),
 ('AmBe11313', 12271, 0, 0),
 ('SoRu35426', 12319, 3, 3),
 ('AkHa00073', 13554, 3, 3),
 ('SoRu35899', 10054, 9, 9),
 ('KiRu26664', 30561, 2, 2),
 ('SoRu36580', 15465, 3, 3),
 ('AkLu02432', 56526, 2, 2),
 ('HaRu19287', 54666, 5, 5),
 ('SoRu38915', 26133, 1, 1),
 ('KiRu26032', 12342, 0, 0),
 ('KiRu25619', 48832, 3, 3),
 ('AkHa00172', 41191, 2, 2),
 ('KiRu27927', 33105, 3, 3),
 ('KiRu28045', 16862, 2, 2),
 ('KiRu29614', 51573, 1, 1),
 ('KiRu25484', 20447, 1, 1),
 ('AkRu04989', 34369, 1, 1),
 ('AkKi01455', 16750, 3, 3),
 ('SoIl33047', 45984, 2, 2),
 ('SoCh32025', 14252, 0, 0),
 ('KiRu28089', 9134, 0, 0),
 ('AkRu07622', 18841, 2, 2),
 ('KiRu29909', 28639, 1, 1),
 ('AmBe11266', 6032, 9, 9),
 ('KiRu26934', 44733, 2, 2),
 ('SoRu35691', 13341, 5, 5),
 ('SoMa34148', 50300, 2, 2),
 ('AmRu15860', 46070, 1, 1),
 ('SoRu38125', 26141, 5, 5),
 ('AkLu02637', 13812, 9, 9),
 ('SoRu35824', 28362, 1, 1),
 ('KiRu27806', 42076, 0, 0),
 ('AkRu03182', 13651, 3, 3),
 ('AkHa00088', 12774, 1, 1),
 ('SoRu36828', 5668, 2, 2),
 ('AkLu02438', 24429, 9, 9),
 ('SoRu38250', 21140, 6, 6),
 ('AkHa00613', 20924, 3, 3),
 ('KiMr25005', 58102, 0, 0),
 ('AkRu04428', 9203, 3, 3),
 ('SoRu35103', 44051, 5, 5),
 ('SoRu36975', 26255, 0, 0),
 ('AkHa00662', 52082, 2, 2),
 ('SoCh31985', 37231, 3, 3),
 ('SoRu37129', 31642, 0, 0),
 ('SoRu38416', 49607, 3, 3),
 ('AkRu02670', 8346, 2, 2),
 ('AkHa00487', 14442, 3, 3),
 ('SoRu36186', 16286, 0, 0),
 ('AkRu03649', 4101, 2, 2),
 ('SoMa34044', 20902, 0, 0),
 ('AmRu14531', 13172, 9, 9),
 ('SoRu37317', 50347, 2, 2),
 ('KiIs23613', 3093, 6, 6),
 ('SoRu39288', 13409, 0, 0),
 ('AkRu07820', 34009, 3, 3),
 ('AkRu07774', 24774, 3, 3),
 ('SoRu36385', 54896, 2, 2),
 ('KiIs24054', 21978, 9, 9),
 ('KiRu29129', 32520, 1, 1),
 ('KiHa23042', 54900, 1, 1),
 ('AkHa00459', 39863, 1, 1),
 ('SoBa31659', 17354, 3, 3),
 ('KiRu30394', 6624, 4, 4),
 ('SoKo33111', 19195, 1, 1),
 ('AkRu03429', 17142, 3, 3),
 ('KiRu26860', 24912, 0, 0),
 ('KiAm22303', 56325, 9, 9),
 ('HaRu18493', 25264, 3, 3),
 ('HaRu18608', 4779, 1, 1),
 ('SoRu35964', 58643, 2, 2),
 ('KiMr24872', 47577, 2, 2),
 ('KiAm22458', 672, 2, 2),
 ('AkRu05603', 54483, 3, 3),
 ('HaRu20851', 56353, 9, 9),
 ('KiRu25343', 41757, 1, 1),
 ('SoRu36816', 57218, 3, 3),
 ('HaRu20840', 43798, 3, 3),
 ('SoRu38966', 3240, 5, 5),
 ('SoRu37494', 17009, 9, 9),
 ('HaRu19176', 25331, 1, 1),
 ('AmBe11175', 22982, 3, 3),
 ('HaDe16360', 19732, 1, 1),
 ('AmBe11054', 8225, 9, 9),
 ('AkRu08460', 59776, 2, 2),
 ('SoKo33124', 2006, 3, 3),
 ('AkKi01211', 16824, 3, 3),
 ('SoIl32445', 25386, 2, 2),
 ('AmRu13532', 39886, 9, 9),
 ('SoRu36142', 7542, 1, 1),
 ('AkRu05020', 4291, 3, 3),
 ('HaRu18730', 34773, 1, 1),
 ('KiRu25527', 30088, 2, 2),
 ('AkRu05442', 59724, 3, 3),
 ('AkRu05207', 53713, 3, 3),
 ('AmAm09844', 39550, 9, 9),
 ('AkRu04217', 18145, 3, 3),
 ('SoRu38733', 16689, 5, 5),
 ('SoBa31655', 5710, 9, 9),
 ('SoRu37392', 17821, 4, 4),
 ('AkKi01238', 15839, 3, 3),
 ('AmRu14527', 36952, 3, 3),
 ('KiRu26502', 9396, 3, 3),
 ('AkRu06339', 28338, 0, 0),
 ('SoRu37920', 42676, 0, 0),
 ('AkRu02682', 26484, 2, 2),
 ('AmBe10969', 39852, 3, 3),
 ('AkRu08755', 19813, 3, 3),
 ('KiRu30051', 13174, 2, 2),
 ('HaRu19054', 314, 2, 2),
 ('HaRu17182', 26851, 1, 1),
 ('AmBe11275', 26263, 3, 3),
 ('HaRu19036', 52668, 2, 2),
 ('KiMr24348', 40090, 2, 2),
 ('AmPw12550', 28247, 9, 9),
 ('HaRu20299', 43586, 2, 2),
 ('KiRu29119', 25652, 1, 1),
 ('AkRu03116', 32365, 3, 3),
 ('SoRu35393', 23001, 1, 1),
 ('AkLu02173', 27091, 1, 1),
 ('AkRu08283', 45092, 3, 3),
 ('KiRu28782', 58809, 3, 3),
 ('AmAs10095', 46365, 3, 3),
 ('KiRu29980', 5321, 1, 1),
 ('KiRu25770', 37346, 3, 3),
 ('AmRu15634', 24374, 3, 3),
 ('AkRu07742', 3469, 2, 2),
 ('KiRu28806', 26429, 1, 1),
 ('AmAs10011', 44726, 9, 9),
 ('KiMr25056', 36815, 1, 1),
 ('HaDj16864', 25972, 1, 1),
 ('HaRu18271', 14781, 1, 1),
 ('HaAm16293', 55255, 3, 3),
 ('KiRu27852', 30754, 2, 2),
 ('AmAs10552', 16840, 9, 9),
 ('HaAm16112', 15506, 2, 2),
 ('KiZu30983', 5702, 3, 3),
 ('HaYa21356', 36919, 2, 2),
 ('AkRu03754', 6493, 3, 3),
 ('SoMa34566', 39478, 2, 2),
 ('AmRu15394', 15192, 1, 1),
 ('HaRu19917', 53947, 9, 9),
 ('SoRu35762', 47342, 1, 1),
 ('AmAm09806', 41269, 9, 9),
 ('AmAm09566', 37437, 9, 9),
 ('KiRu27527', 30396, 2, 2),
 ('SoRu36079', 41487, 0, 0),
 ('AkLu02420', 46052, 2, 2),
 ('SoRu38360', 30990, 0, 0),
 ('KiIs23815', 15619, 2, 2),
 ('AkLu01944', 29104, 3, 3),
 ('SoBa31866', 15628, 1, 1),
 ('AkRu05799', 53738, 3, 3),
 ('KiRu26647', 31416, 1, 1),
 ('AmRu14452', 3138, 3, 3),
 ('AkRu03095', 59212, 3, 3),
 ('SoRu37072', 34917, 1, 1),
 ('SoBa31473', 18821, 2, 2),
 ('SoRu35606', 3368, 3, 3),
 ('KiRu28515', 48699, 2, 2),
 ('KiMr24897', 17117, 9, 9),
 ('AkRu03657', 56435, 2, 2),
 ('AmAs10840', 9908, 9, 9),
 ('SoRu37224', 30665, 2, 2),
 ('HaRu20820', 43257, 2, 2),
 ('KiIs23717', 18330, 3, 3),
 ('HaRu18196', 51823, 1, 1),
 ('KiRu28445', 9213, 1, 1),
 ('AkRu04790', 2023, 9, 9),
 ('AkLu01749', 37485, 3, 3),
 ('SoRu35924', 36027, 2, 2),
 ('KiRu27827', 48940, 2, 2),
 ('AmRu13018', 34248, 5, 5),
 ('SoRu36421', 20600, 0, 0),
 ('KiRu28584', 52713, 1, 1),
 ('KiRu29073', 28511, 2, 2),
 ('AkHa00593', 29731, 2, 2),
 ('AkKi01372', 49534, 3, 3),
 ('AkLu02206', 4533, 3, 3),
 ('AkRu08105', 25512, 2, 2),
 ('AkRu04781', 56179, 2, 2),
 ('KiRu27348', 56646, 1, 1),
 ('AkRu07358', 50252, 3, 3),
 ('SoRu35645', 17917, 3, 3),
 ('HaDj16729', 44405, 1, 1),
 ('AmAm09422', 28365, 9, 9),
 ('KiRu28871', 46572, 9, 9),
 ('SoKo33489', 21867, 2, 2),
 ('KiIs24061', 42529, 2, 2),
 ('SoRu36514', 33109, 6, 6),
 ('SoRu38062', 55400, 0, 0),
 ('AkRu04644', 51404, 3, 3),
 ('AkRu07669', 6875, 2, 2),
 ('KiMr24651', 54735, 3, 3),
 ('SoRu35689', 44968, 0, 0),
 ('KiZu31427', 22019, 9, 9),
 ('KiMr24677', 57585, 1, 1),
 ('HaRu17145', 58460, 1, 1),
 ('SoKo33450', 52145, 2, 2),
 ('AkRu06471', 22708, 2, 2),
 ('AkRu03909', 48225, 6, 6),
 ('SoRu38054', 36448, 0, 0),
 ('KiZu30933', 10930, 0, 0),
 ('AmRu15659', 21540, 3, 3),
 ('AkRu04196', 6317, 1, 1),
 ('HaRu17171', 56405, 3, 3),
 ('KiZu31286', 58243, 5, 5),
 ('KiRu27045', 25122, 9, 9),
 ('AkRu07822', 38982, 2, 2),
 ('SoRu38801', 30299, 5, 5),
 ('AkRu05622', 37033, 2, 2),
 ('AmRu13368', 59978, 3, 3),
 ('KiRu29197', 3862, 2, 2),
 ('KiHa22987', 51906, 2, 2),
 ('AmAb09209', 2528, 0, 0),
 ('SoRu35737', 12880, 1, 1),
 ('HaRu20358', 32243, 1, 1),
 ('SoRu38427', 27985, 0, 0),
 ('SoRu39385', 26100, 2, 2),
 ('KiAm22078', 14154, 3, 3),
 ('HaRu18624', 571, 2, 2),
 ('AkLu01620', 52324, 3, 3),
 ('SoRu39442', 40218, 0, 0),
 ('AmBe11161', 16638, 3, 3),
 ('SoRu36982', 59694, 9, 9),
 ('KiRu29202', 42496, 3, 3),
 ('KiRu30289', 2112, 1, 1),
 ('HaDj16691', 43418, 3, 3),
 ('SoRu35904', 11602, 0, 0),
 ('AkRu07627', 38984, 7, 7),
 ('AkRu06941', 12025, 9, 9),
 ('SoMa33925', 40620, 1, 1),
 ('KiAm22052', 25833, 3, 3),
 ('SoRu37929', 52815, 0, 0),
 ('HaRu19467', 5732, 1, 1),
 ('HaRu19164', 51451, 1, 1),
 ('HaRu18836', 58049, 9, 9),
 ('SoRu38150', 57491, 9, 9),
 ('AmAm09853', 41120, 9, 9),
 ('SoRu38947', 30376, 2, 2),
 ('AmDa11683', 44700, 4, 4),
 ('AmRu14207', 32491, 1, 1),
 ('HaZa21638', 12606, 1, 1),
 ('KiRu30052', 45489, 2, 2),
 ('KiRu26263', 30172, 9, 9),
 ('AmAb08975', 25976, 9, 9),
 ('SoRu38924', 14792, 9, 9),
 ('KiRu26698', 32554, 9, 9),
 ('KiRu26909', 48857, 3, 3),
 ('SoCh32037', 17084, 0, 0),
 ('SoMa33775', 9767, 0, 0),
 ('HaRu20481', 43336, 2, 2),
 ('KiRu29745', 47317, 2, 2),
 ('KiRu29612', 2867, 2, 2),
 ('AmRu13754', 35709, 9, 9),
 ('SoRu35482', 26148, 0, 0),
 ('HaRu17297', 15430, 9, 9),
 ('AkRu03158', 48151, 9, 9),
 ('AkRu06069', 33352, 7, 7),
 ('KiRu26010', 17435, 1, 1),
 ('KiRu28019', 1195, 2, 2),
 ('KiRu30518', 41822, 3, 3),
 ('AkRu07026', 38714, 9, 9),
 ('KiRu26412', 52839, 0, 0),
 ('SoRu35634', 19157, 3, 3),
 ('AkHa00746', 21385, 1, 1),
 ('SoIl33036', 43651, 1, 1),
 ('AkRu06836', 40555, 1, 1),
 ('HaRu19773', 50727, 9, 9),
 ('KiMr24471', 21173, 0, 0),
 ('KiRu28420', 58254, 1, 1),
 ('AkRu07739', 17453, 3, 3),
 ('KiRu27252', 51552, 2, 2),
 ('KiIs23560', 42504, 1, 1),
 ('KiRu25537', 38191, 3, 3),
 ('KiHa23219', 36052, 2, 2),
 ('AkLu02008', 56663, 0, 0),
 ('SoMa34421', 30111, 3, 3),
 ('SoRu37753', 31486, 2, 2),
 ('AmPw12576', 9330, 7, 7),
 ('AmRu13851', 16435, 3, 3),
 ('KiMr24804', 32189, 5, 5),
 ('AmAm09946', 6947, 9, 9),
 ('KiAm22279', 53988, 3, 3),
 ('AkRu03992', 39531, 2, 2),
 ('AmRu14758', 54230, 9, 9),
 ('AmRu13619', 21143, 9, 9),
 ('AmAm09492', 29419, 9, 9),
 ('AkRu08500', 57702, 3, 3),
 ('HaRu18780', 21375, 1, 1),
 ('SoRu38398', 31256, 3, 3),
 ('AmAm09540', 6674, 0, 0),
 ('AkLu02114', 25130, 3, 3),
 ('AmBe11296', 30535, 3, 3),
 ('AkRu05627', 17619, 7, 7),
 ('AkKi01158', 46022, 3, 3),
 ('KiRu30069', 27180, 3, 3),
 ('AmAm09774', 19982, 9, 9),
 ('HaRu19731', 17066, 3, 3),
 ('AkRu07991', 8013, 2, 2),
 ('HaZa21811', 5954, 1, 1),
 ('AmPw12299', 7643, 9, 9),
 ('HaRu17417', 3105, 2, 2),
 ('AmRu12818', 27250, 3, 3),
 ('AmAm09730', 54871, 9, 9),
 ('HaAm16072', 16938, 2, 2),
 ('KiAm22564', 855, 0, 0),
 ('AkRu04359', 37376, 3, 3),
 ('AmRu14130', 33897, 2, 2),
 ('AmPw12685', 42213, 3, 3),
 ('KiIs23737', 26455, 9, 9),
 ('AkRu05675', 37439, 3, 3),
 ('KiRu27273', 586, 3, 3),
 ('KiZu31183', 878, 9, 9),
 ('HaZa21677', 21941, 1, 1),
 ('AkKi01487', 26522, 1, 1),
 ('AmDa12045', 28843, 5, 5),
 ('HaDj16928', 8746, 2, 2),
 ('SoIl32627', 57949, 3, 3),
 ('AkRu03179', 10891, 5, 5),
 ('AkRu05546', 42454, 0, 0),
 ('AmAs10264', 13865, 9, 9),
 ('AmAb08995', 50217, 9, 9),
 ('AkRu06775', 39605, 2, 2),
 ('SoRu35734', 6130, 2, 2),
 ('AkRu05280', 6761, 3, 3),
 ('SoRu35119', 56397, 2, 2),
 ('KiRu25483', 11863, 6, 6),
 ('KiAm22240', 28235, 9, 9),
 ('AkRu06232', 51694, 2, 2),
 ('KiRu25576', 32883, 6, 6),
 ('SoRu39485', 29514, 1, 1),
 ('AkRu07003', 43164, 3, 3),
 ('SoRu38178', 19831, 3, 3),
 ('HaRu18408', 37807, 3, 3),
 ('KiRu26522', 7962, 3, 3),
 ('KiRu28005', 39752, 2, 2),
 ('AkRu08633', 19210, 3, 3),
 ('AkLu01598', 23013, 2, 2),
 ('AmPw12594', 24173, 9, 9),
 ('SoRu39617', 11689, 9, 9),
 ('HaRu18732', 30369, 2, 2),
 ('AkRu04678', 36432, 3, 3),
 ('AmRu15262', 43261, 0, 0),
 ('KiZu30898', 59198, 3, 3),
 ('AkRu06383', 15579, 3, 3),
 ('KiRu29989', 13822, 9, 9),
 ('SoRu35998', 38786, 1, 1),
 ('AkRu04153', 10514, 2, 2),
 ('SoMa34162', 32390, 3, 3),
 ('KiRu29836', 10502, 7, 7),
 ('SoRu35504', 24139, 2, 2),
 ('SoRu35596', 4059, 9, 9),
 ('AkRu04215', 28844, 1, 1),
 ('HaZa21907', 21884, 1, 1),
 ('AkRu05411', 42438, 0, 0),
 ('AkKi01559', 26258, 3, 3),
 ('KiMr24656', 40725, 1, 1),
 ('HaRu17951', 45736, 3, 3),
 ('KiRu29143', 39438, 7, 7),
 ('AkRu04294', 24293, 9, 9),
 ('SoKo33149', 47600, 1, 1),
 ('AkRu04720', 4530, 2, 2),
 ('KiRu25511', 26516, 9, 9),
 ('SoRu35939', 55017, 1, 1),
 ('HaRu17470', 19548, 1, 1),
 ('KiAm22039', 59926, 3, 3),
 ('SoRu38185', 15298, 2, 2),
 ('KiMr25042', 3652, 4, 4),
 ('SoRu37208', 7939, 1, 1),
 ('AkKi01424', 11784, 3, 3),
 ('AkRu03770', 55628, 7, 7),
 ('HaZa21810', 11254, 1, 1),
 ('AkRu03265', 52348, 3, 3),
 ('AmAb09118', 54914, 2, 2),
 ('AkKi01512', 5022, 3, 3),
 ('AkRu05299', 25168, 2, 2),
 ('AkKi00885', 5042, 3, 3),
 ('HaRu20039', 26906, 1, 1),
 ('AkKi01541', 7331, 3, 3),
 ('AkHa00058', 11935, 3, 3),
 ('SoRu36804', 18604, 4, 4),
 ('AkRu06181', 22009, 6, 6),
 ('KiRu30244', 48270, 1, 1),
 ('SoRu35370', 20354, 0, 0),
 ('KiHa22708', 28319, 2, 2),
 ('AkKi01235', 17149, 0, 0),
 ('HaRu17273', 55881, 1, 1),
 ('SoRu35584', 54924, 2, 2),
 ('HaRu17358', 54229, 2, 2),
 ('HaYa21508', 2159, 2, 2),
 ('SoRu36839', 46993, 3, 3),
 ('HaAm15940', 16568, 0, 0),
 ('KiHa23374', 39377, 2, 2),
 ('KiRu25462', 21381, 2, 2),
 ('SoRu39299', 53064, 1, 1),
 ('AmRu15113', 44436, 3, 3),
 ('KiRu25467', 30711, 0, 0),
 ('KiMr25069', 47475, 3, 3),
 ('HaRu18669', 51092, 1, 1),
 ('KiMr24993', 32824, 9, 9),
 ('KiRu29205', 50794, 5, 5),
 ('AkRu04281', 26695, 0, 0),
 ('AkRu03009', 19267, 2, 2),
 ('AkRu07584', 38645, 0, 0),
 ('KiAm22619', 27044, 3, 3),
 ('KiHa23324', 54357, 1, 1),
 ('SoCh32105', 48137, 0, 0),
 ('SoRu36947', 39773, 6, 6),
 ('AkKi01226', 34007, 2, 2),
 ('SoMa34203', 22703, 9, 9),
 ('AkRu07928', 40961, 3, 3),
 ('AmAm09716', 8754, 3, 3),
 ('KiRu26898', 19044, 2, 2),
 ('SoRu35204', 18482, 3, 3),
 ('SoRu38992', 45701, 1, 1),
 ('KiRu29642', 2288, 2, 2),
 ('KiAm22546', 24437, 0, 0),
 ('AkRu08709', 11252, 4, 4),
 ('AmBe11146', 31114, 9, 9),
 ('SoRu38840', 55481, 9, 9),
 ('HaSe20913', 13769, 9, 9),
 ('AkRu06409', 45638, 3, 3),
 ('KiAm22010', 45182, 9, 9),
 ('KiRu28681', 47091, 2, 2),
 ('KiRu27445', 51588, 0, 0),
 ('KiMr25066', 58667, 2, 2),
 ('AkRu08527', 20668, 2, 2),
 ('AkRu03366', 10434, 3, 3),
 ('AmAs10727', 20242, 3, 3),
 ('SoCh32218', 51742, 9, 9),
 ('HaAm16144', 39129, 2, 2),
 ('HaDe16554', 8299, 9, 9),
 ('KiRu28451', 59100, 1, 1),
 ('SoRu36896', 22280, 4, 4),
 ('HaYa21537', 4904, 9, 9),
 ('AmBe11144', 46501, 9, 9),
 ('AmAm09885', 21022, 9, 9),
 ('AkRu04239', 36769, 2, 2),
 ('AkRu03485', 54532, 2, 2),
 ('HaRu20552', 45465, 9, 9),
 ('KiRu26022', 44127, 9, 9),
 ('SoRu37386', 40752, 5, 5),
 ('KiRu27731', 2096, 3, 3),
 ('AmRu14200', 27946, 1, 1),
 ('AmRu14220', 54231, 3, 3),
 ('HaRu18473', 35385, 2, 2),
 ('KiRu28208', 23536, 3, 3),
 ('AmPw12359', 24353, 9, 9),
 ('KiIs23579', 55457, 2, 2),
 ('SoRu36686', 5517, 9, 9),
 ('HaRu17704', 14773, 2, 2),
 ('AkRu07773', 36775, 3, 3),
 ('HaRu19574', 4944, 3, 3),
 ('SoRu35147', 6783, 2, 2),
 ('KiRu25784', 49705, 3, 3),
 ('HaRu20497', 45862, 3, 3),
 ('SoRu35551', 21557, 9, 9),
 ('AkLu02036', 31106, 9, 9),
 ('KiRu28450', 51366, 1, 1),
 ('AkRu05101', 22180, 3, 3),
 ('AmRu14915', 851, 0, 0),
 ('SoRu38818', 23620, 0, 0),
 ('KiRu25975', 33358, 1, 1),
 ('HaRu19522', 39998, 1, 1),
 ('AkRu08361', 10065, 3, 3),
 ('HaRu19320', 43233, 2, 2),
 ('KiRu26049', 4715, 2, 2),
 ('KiAm22582', 31113, 2, 2),
 ('HaAm16010', 15159, 5, 5),
 ('SoRu37252', 31183, 2, 2),
 ('KiRu28377', 18416, 2, 2),
 ('HaDj16807', 11751, 9, 9),
 ('HaRu20530', 28943, 2, 2),
 ('HaRu20853', 6004, 3, 3),
 ('KiZu31112', 22569, 1, 1),
 ('SoRu36282', 55911, 2, 2),
 ('AmDa11755', 2824, 7, 7),
 ('KiAm22311', 58857, 3, 3),
 ('KiMr24308', 58060, 3, 3),
 ('AmRu13413', 8566, 3, 3),
 ('AmAs10324', 57469, 9, 9),
 ('KiRu27828', 47257, 1, 1),
 ('SoIl32437', 18615, 3, 3),
 ('AkRu04426', 52998, 2, 2),
 ('AkRu06169', 34367, 3, 3),
 ('AkRu02962', 11601, 3, 3),
 ('HaRu19669', 28842, 2, 2),
 ('KiMr25223', 3780, 1, 1),
 ('HaRu20816', 55072, 1, 1),
 ('AmRu13356', 42305, 9, 9),
 ('KiIs23593', 29137, 1, 1),
 ('AmAm09674', 49221, 9, 9),
 ('SoRu39643', 17397, 1, 1),
 ('AmRu15683', 21444, 9, 9),
 ('AkRu05848', 34427, 3, 3),
 ('AkLu02496', 20996, 3, 3),
 ('SoRu38216', 31942, 3, 3),
 ('KiRu30508', 5769, 1, 1),
 ('KiRu27437', 44096, 4, 4),
 ('KiRu28942', 27610, 2, 2),
 ('KiAm22113', 20090, 3, 3),
 ('AkRu04557', 13998, 3, 3),
 ('HaRu18150', 21900, 1, 1),
 ('AmRu15160', 46378, 2, 2),
 ('HaRu20728', 41486, 1, 1),
 ('KiRu26051', 14632, 3, 3),
 ('KiRu28827', 56602, 1, 1),
 ('HaRu17079', 25034, 3, 3),
 ('KiRu29851', 47308, 3, 3),
 ('AkRu08820', 55696, 3, 3),
 ('AkRu06788', 27722, 3, 3),
 ('AmRu13599', 6513, 9, 9),
 ('SoMa34196', 42105, 9, 9),
 ('AmRu15096', 58588, 9, 9),
 ('SoIl32791', 4995, 0, 0),
 ('AmBe11095', 17298, 9, 9),
 ('AmAs10055', 33553, 6, 6),
 ('AmAs10340', 32735, 9, 9),
 ('SoRu35914', 23249, 2, 2),
 ('SoRu36773', 43828, 1, 1),
 ('KiHa23146', 48470, 7, 7),
 ('SoRu35843', 31380, 0, 0),
 ('AmDa12143', 28722, 3, 3),
 ('HaRu18377', 3430, 4, 4),
 ('KiMr25238', 39024, 3, 3),
 ('AkHa00453', 47752, 3, 3),
 ('SoRu36476', 19772, 3, 3),
 ('KiRu26765', 41535, 3, 3),
 ('AmBe11088', 58003, 5, 5),
 ('KiZu31050', 48993, 2, 2),
 ('KiRu30321', 51245, 2, 2),
 ('SoRu38869', 4090, 3, 3),
 ('AmAs10935', 45826, 3, 3),
 ('SoRu37885', 19681, 3, 3),
 ('KiRu25876', 1964, 1, 1),
 ('AkRu06814', 12795, 2, 2),
 ('KiRu25869', 22974, 3, 3),
 ('AmAs10230', 13193, 2, 2),
 ('AmRu14595', 53772, 3, 3),
 ('KiAm21997', 26206, 9, 9),
 ('SoRu35287', 19735, 2, 2),
 ('SoRu36884', 51390, 0, 0),
 ('HaRu19312', 5784, 2, 2),
 ('SoRu39304', 46806, 0, 0),
 ('KiZu30908', 29097, 0, 0),
 ('AmAm09821', 54304, 0, 0),
 ('AkRu03660', 55224, 3, 3),
 ('AkHa00113', 4867, 3, 3),
 ('KiRu28313', 21925, 2, 2),
 ('SoBa31598', 47530, 3, 3),
 ('KiRu26657', 55644, 9, 9),
 ('AkRu04314', 48332, 0, 0),
 ('HaAm16199', 4250, 1, 1),
 ('KiRu28294', 37375, 5, 5),
 ('AkRu08008', 27739, 2, 2),
 ('HaRu18060', 3519, 1, 1),
 ('AmRu14948', 37927, 3, 3),
 ('SoCh32004', 6508, 1, 1),
 ('AmRu14988', 7112, 2, 2),
 ('AmRu13124', 8788, 9, 9),
 ('AkRu03153', 6333, 3, 3),

But that means that 102 records are incorrect. So let's look at those. You can do it by adding one character in the last query!

In [4]:
 %%sql
SELECT
   vis.location_id,
   vis.record_id ,
  aui.true_water_source_score as auditor_score ,
  water_quality.subjective_quality_score as  surveyor_score
FROM
  auditor_report as aui 
  join
 visits as vis
 on 
  aui.location_id = vis.location_id 

  join
  water_quality
  on
  vis.record_id = water_quality.record_id
  where water_quality.subjective_quality_score != aui.true_water_source_score 
and vis.visit_count = 1
limit 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('AkRu05215', 21160, 3, 10),
 ('KiRu29290', 7938, 3, 10),
 ('KiHa22748', 43140, 9, 10),
 ('SoRu37841', 18495, 6, 10),
 ('KiRu27884', 33931, 1, 10),
 ('KiZu31170', 17950, 9, 10),
 ('KiZu31370', 36864, 3, 10),
 ('AkRu06495', 45924, 2, 10),
 ('HaRu17528', 30524, 1, 10),
 ('SoRu38331', 13192, 3, 10)]

So, to do this, we need to grab the type_of_water_source column from the water_source table and call it survey_source, using the
source_id column to JOIN. Also select the type_of_water_source from the auditor_report table, and call it auditor_source.

In [5]:
%%sql
SELECT
    vis.location_id,
    vis.record_id,
    wat.type_of_water_source AS survey_source,
    aui.type_of_water_source AS auditor_source_type,
    aui.true_water_source_score AS auditor_score,
    water_quality.subjective_quality_score AS surveyor_score
   
FROM
    auditor_report AS aui
JOIN
    visits AS vis
    ON aui.location_id = vis.location_id
JOIN
    water_quality
    ON vis.record_id = water_quality.record_id
JOIN
    water_source AS wat
    ON wat.source_id = vis.source_id 
WHERE
    water_quality.subjective_quality_score != aui.true_water_source_score
    AND vis.visit_count = 1
limit 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('AkRu05215', 21160, 'well', 'well', 3, 10),
 ('KiRu29290', 7938, 'shared_tap', 'shared_tap', 3, 10),
 ('KiHa22748', 43140, 'tap_in_home_broken', 'tap_in_home_broken', 9, 10),
 ('SoRu37841', 18495, 'shared_tap', 'shared_tap', 6, 10),
 ('KiRu27884', 33931, 'well', 'well', 1, 10),
 ('KiZu31170', 17950, 'tap_in_home_broken', 'tap_in_home_broken', 9, 10),
 ('KiZu31370', 36864, 'shared_tap', 'shared_tap', 3, 10),
 ('AkRu06495', 45924, 'well', 'well', 2, 10),
 ('HaRu17528', 30524, 'well', 'well', 1, 10),
 ('SoRu38331', 13192, 'shared_tap', 'shared_tap', 3, 10)]

In either case, the employees are the source of the errors, so let's JOIN the assigned_employee_id for all the people on our list from the visits
table to our query. Remember, our query shows the shows the 102 incorrect records, so when we join the employee data, we can see which
employees made these incorrect records.

In [6]:
%%sql
SELECT
   vis.location_id,
   vis.record_id ,
  aui.true_water_source_score as auditor_score ,
  water_quality.subjective_quality_score as  surveyor_score,
  vis.assigned_employee_id 
FROM
  auditor_report as aui 
  join
 visits as vis
 on 
  aui.location_id = vis.location_id 

join 
employee as emp
on 
emp.assigned_employee_id = vis.assigned_employee_id


  join
  water_quality
  on
  vis.record_id = water_quality.record_id
  where water_quality.subjective_quality_score != aui.true_water_source_score 
and vis.visit_count = 1
limit 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('AkRu05215', 21160, 3, 10, 34),
 ('KiRu29290', 7938, 3, 10, 1),
 ('KiHa22748', 43140, 9, 10, 1),
 ('SoRu37841', 18495, 6, 10, 34),
 ('KiRu27884', 33931, 1, 10, 1),
 ('KiZu31170', 17950, 9, 10, 5),
 ('KiZu31370', 36864, 3, 10, 48),
 ('AkRu06495', 45924, 2, 10, 1),
 ('HaRu17528', 30524, 1, 10, 18),
 ('SoRu38331', 13192, 3, 10, 5)]

So now we can link the incorrect records to the employees who recorded them. The ID's don't help us to identify them. We have employees' names
stored along with their IDs, so let's fetch their names from the employees table instead of the ID's.

In [7]:
%%sql
SELECT
   vis.location_id,
   vis.record_id ,
  aui.true_water_source_score as auditor_score ,
  water_quality.subjective_quality_score as  surveyor_score,
  emp.employee_name 
FROM
  auditor_report as aui 
  join
 visits as vis
 on 
  aui.location_id = vis.location_id 

join 
employee as emp
on 
emp.assigned_employee_id = vis.assigned_employee_id


  join
  water_quality
  on
  vis.record_id = water_quality.record_id
  where water_quality.subjective_quality_score != aui.true_water_source_score 
and vis.visit_count = 1
limit 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('AkRu05215', 21160, 3, 10, 'Rudo Imani'),
 ('KiRu29290', 7938, 3, 10, 'Bello Azibo'),
 ('KiHa22748', 43140, 9, 10, 'Bello Azibo'),
 ('SoRu37841', 18495, 6, 10, 'Rudo Imani'),
 ('KiRu27884', 33931, 1, 10, 'Bello Azibo'),
 ('KiZu31170', 17950, 9, 10, 'Zuriel Matembo'),
 ('KiZu31370', 36864, 3, 10, 'Yewande Ebele'),
 ('AkRu06495', 45924, 2, 10, 'Bello Azibo'),
 ('HaRu17528', 30524, 1, 10, 'Jengo Tumaini'),
 ('SoRu38331', 13192, 3, 10, 'Zuriel Matembo')]

Next, let's try to calculate how many mistakes each employee made. So basically we want to count how many times their name is in
Incorrect_records list, and then group them by name, right?

In [8]:
%%sql
select
 distinct employee_name,
count(employee_name)
from 
Incorrect_records
group by employee_name;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
17 rows affected.

[('Bello Azibo', 26),
 ('Deka Osumare', 1),
 ('Enitan Zuri', 4),
 ('Farai Nia', 4),
 ('Gamba Shani', 3),
 ('Jengo Tumaini', 3),
 ('Lalitha Kaburi', 7),
 ('Makena Thabo', 3),
 ('Malachi Mavuso', 21),
 ('Ona Sefu', 1),
 ('Pili Zola', 1),
 ('Rudo Imani', 5),
 ('Thandiwe Kito', 1),
 ('Usafi Ayo', 1),
 ('Xola Uzuri', 1),
 ('Yewande Ebele', 3),
 ('Zuriel Matembo', 17)]

1. We have to first calculate the number of times someone's name comes up. (we just did that in the previous query). Let's call it error_count.
2. Then, we need to calculate the average number of mistakes employees made. We can do that by taking the average of the previous query's
results. Something like this:

In [4]:
%%sql
create view error_count as 
select
 distinct employee_name,
count(employee_name) as number_of_mistakes
from 
Incorrect_records
group by employee_name;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
0 rows affected.

[]

In [ ]:
%%sql
SELECT
AVG(number_of_mistakes)
FROM
error_count;

3. Finaly we have to compare each employee's error_count with avg_error_count_per_empl. We will call this results set our suspect_list.
Remember that we can't use an aggregate result in WHERE, so we have to use avg_error_count_per_empl as a subquery.

In [13]:
%%sql
SELECT
employee_name,
number_of_mistakes
FROM
error_count
WHERE
number_of_mistakes > (SELECT
AVG(number_of_mistakes) as avg_error_count_per_empl
FROM
error_count) ;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
4 rows affected.

[('Bello Azibo', 26),
 ('Lalitha Kaburi', 7),
 ('Malachi Mavuso', 21),
 ('Zuriel Matembo', 17)]

In [ ]:
So, replace WITH with CREATE VIEW like this, and note that I added the statements column to this table in line 8 too:

In [ ]:
%%sql
CREATE VIEW Incorrect_records AS (
SELECT
auditor_report.location_id,
visits.record_id,
employee.employee_name,
auditor_report.true_water_source_score AS auditor_score,
wq.subjective_quality_score AS surveyor_score,
auditor_report.statements AS statements
FROM
auditor_report
JOIN
visits
ON auditor_report.location_id = visits.location_id
JOIN
water_quality AS wq
ON visits.record_id = wq.record_id
JOIN
employee
ON employee.assigned_employee_id = visits.assigned_employee_id
WHERE
visits.visit_count =1
AND auditor_report.true_water_source_score != wq.subjective_quality_score);

First, convert the suspect_list to a CTE, so we can use it to filter the records from these four employees. Make sure you get the names of the
four "suspects", and their mistake count as a result, using SELECT employee_name FROM suspect_list.

In [15]:
%%sql
create view  suspect_list as
SELECT
employee_name,
number_of_mistakes
FROM
error_count
WHERE
number_of_mistakes > (SELECT
AVG(number_of_mistakes) as avg_error_count_per_empl
FROM
error_count) ;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
0 rows affected.

[]

In [16]:
%%sql 
select
*
from
suspect_list ;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
4 rows affected.

[('Bello Azibo', 26),
 ('Lalitha Kaburi', 7),
 ('Malachi Mavuso', 21),
 ('Zuriel Matembo', 17)]

Firstly, let's add the statements column to the Incorrect_records view. Then pull up all of the records where the employee_name is in the
suspect list. HINT: Use SELECT employee_name FROM suspect_list as a subquery in WHERE.

In [ ]:
%%sql
SELECT
location_id,
statements,
employee_name
FROM
Incorrect_records
WHERE
employee_name IN (SELECT employee_name FROM suspect_list);

If you have a look, you will notice some alarming statements about these four officials (look at these records: AkRu04508, AkRu07310,
KiRu29639, AmAm09607, for example. See how the word "cash" is used a lot in these statements.

14:49

Filter the records that refer to "cash".

In [17]:
%%sql
SELECT
location_id,
statements,
employee_name
FROM
Incorrect_records
WHERE
employee_name IN (SELECT employee_name FROM suspect_list) and
statements like '%cash%' and location_id in ('AkRu04508', 'AkRu07310',
'KiRu29639', 'AmAm09607');

 * mysql+pymysql://root:***@localhost:3306/md_water_services
4 rows affected.

[('AmAm09607', 'Villagers spoke of an unsettling encounter with an official who appeared dismissive and detached. The reference to cash transactions added to their growing sense of distrust.', 'Malachi Mavuso'),
 ('AkRu04508', 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.', 'Bello Azibo'),
 ('AkRu07310', 'Villagers spoke of their unsettling encounters with an official who seemed indifferent and uninterested, hinting at potential improprieties involving cash exchanges.', 'Lalitha Kaburi'),
 ('KiRu29639', "An unsettling atmosphere prevailed as villagers shared stories of an official's arrogance and perceived corruption. The mention of cash exchanges only intensified their concerns.", 'Bello Azibo')]